{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
   <form action = "/sell" method = "post">

        <select name="symbol" id = "symbol" placeholder = "Symbol">

            {%for row in rows%}

            <option value="{{ row['symbol'] }}">{{ row['symbol'] }}</option>

            {% endfor %}

         </select>


        <div class="form-group">
            <input type = "number" name = "shares" placeholder = "Shares">
        </div>

       <button class="btn btn-primary" type="submit">Sell</button>
       
   </form>
   
{% endblock %}
